{% extends 'base_admin.html' %}
{% block content %}
<style>
    body {
      padding: 0;
      margin: 0;
      font-family: monospace;
      text-align: center;
    }
    
    table {
      margin: 50px auto;
      border-collapse: collapse;
      width: 80%;
      max-width: 800px;
    }
    
    th {
      background-color: #22438c;
      color: white;
      font-size: 20px;
      font-weight: normal;
      padding: 10px;
      text-align: center;
    }
    
    td {
      background-color: #f5f5f5;
      color: #333;
      font-size: 18px;
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
    }
  </style>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.user_type}}</td>
        <td><button><a href="{% url 'delete-user' pk=user.id %}">Delete Employee</a></button></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}